<template>
  <div class="basket">
    <div class="basket__head">
      <div class="basket__col basket__col--name">Наименование товара и описание</div>
      <div class="basket__col basket__col--count">Количество</div>
      <div class="basket__col basket__col--price">Цена</div>
      <div class="basket__col basket__col--options"></div>
    </div>
    <div
      v-for="(item, name, index) in basket"
      :key="index"
      class="basket__item">
      <div class="basket__col basket__col--name">
        {{ storeNames[item.productKey].B[name].N }}
      </div>
      <div class="basket__col basket__col--count">
        <input type="text" v-model="item.count"> шт.
      </div>
      <div class="basket__col basket__col--price">
        {{ +(item.price * courseDollarRuble).toFixed(2) }} руб./шт.
      </div>
      <div class="basket__col basket__col--options">
        <a
          class="basket__remove"
          @click="removeFromBasket(name)">Удалить</a>
      </div>
    </div>
    <div class="basket__total">
      Общая стоимость: {{ +(totalBasketSum * courseDollarRuble).toFixed(2) }} руб.
    </div>
  </div>
</template>

<script>
  import {mapState} from 'vuex';
  export default {
    data: function () {
      return {
        storeNames: this.$store.state.storeNames,
      }
    },
    computed: {
      ...mapState({
        basket: state => state.basket,
        courseDollarRuble: state => state.courseDollarRuble,
        courseDollarRubleOld: state => state.courseDollarRubleOld,
      }),
      totalBasketSum: function () {
        let totalSum = 0;
        for (let prop in this.basket) {
          totalSum += this.basket[prop].price * this.basket[prop].count;
        }
        return totalSum;
      }
    },
    methods: {
      removeFromBasket: function(productId){
        this.$store.dispatch('REMOVE_FROM_BASKET', productId);
      }
    }
  }
</script>

<style scoped lang="scss">
  .basket{
    text-align: left;
    &__head{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      padding: 5px 10px;
      border-bottom: 1px solid rgba(#000000, .1);
      color: rgba(#000000, .5);
      font-size: 12px;
    }
    &__item{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      padding: 5px 10px;
      border-bottom: 1px solid rgba(#000000, .1);
    }
    &__col{
      &--name{
        width: calc(100% - 350px);
      }
      &--count{
        width: 100px;
        input{
          width: 40px;
        }
      }
      &--price{
        width: 150px;
      }
      &--options{
        width: 100px;
        text-align: right;
      }
    }
    &__remove{
      color: blue;
      cursor: pointer;
    }
    &__total{
      padding: 5px 10px;
      text-align: right;
    }
  }
</style>
