<template>
  <div class="product__edit">
    <label class="product__edit-item">
      <span>Количество:</span>
      <input
        type="number"
        :placeholder="product.P"
        v-model="count">
    </label>
    <label class="product__edit-item">
      <span>Цена (в долларах):</span>
      <input
        type="number"
        :placeholder="product.C"
        v-model="price">
    </label>
    <button @click="saveProduct">Сохранить</button>
  </div>
</template>


<script>
  import axios from 'axios'
  import {putProduct} from '../api/products'
  export default {
    props: {
      product: {
        type: Object,
        default: () => ({}),
      },
      productKey: {
        type: String,
        default: null,
      }
    },
    data: function () {
      return {
        storeNames: this.$store.state.storeNames,
        count: null,
        price: null
      }
    },
    methods: {
      saveProduct: function(){
        if(this.count !== null || this.price !== null){
          let data = Object.assign({}, this.product);
          if (this.count !== null){
            data.P = Number(this.count);
          }
          if (this.price !== null){
            data.C = Number(this.price);
          }
          putProduct(data)
            .then(response => {
              this.$store.dispatch('EDIT_PRODUCT_PRICE', data);
            })
            .catch(exception => {
              console.log(exception);
              return exception.response
            }
          );
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .product__edit{
    padding: 5px 0;
    &-item{
      display: block;
      margin-bottom: 7px;
      font-size: 12px;
      > span{
        display: block;
        margin-bottom: 3px;
      }
      input{
        width: 100%;
        padding: 5px;
        border-radius: 3px;
        border: 1px solid rgba(#000000, .2);
      }
    }
  }
</style>