<template>
  <div class="products">
    <div
      v-for="(group, key, index) in products"
      :key="index"
      class="group">
      <div class="group__name">{{ storeNames[key].G }}</div>
      <div class="group__products">
        <div
          v-for="(product, productIndex) in group"
          :key="productIndex"
          class="product">
          <div class="product__name">
            {{ storeNames[key].B[product.T].N + '(' + product.P + ')'}}
            <br>
            (
            <a
              class="product__add-cart"
              @click="addToCart(product.T, key, product.C)">
              Добавить в корзину
            </a>,
            <a
              class="product__add-cart"
              @click="changeProduct(product, key)">
              Редактировать
            </a>
            )
            <editProduct
              v-if="editProduct !== null && editProduct.T === product.T"
              :product="editProduct"
              :product-key="editProductKey"/>
          </div>
          <div
            :class="showChangePrice ? 'product__price ' + changePriceStatus : 'product__price'">
            {{ +(product.C * courseDollarRuble).toFixed(2) }} руб.
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapState} from 'vuex';
  import editProduct from './editProduct.vue'
  export default {
    components: {
      editProduct
    },
    props: {
    },
    watch: {
      courseDollarRuble: function () {
        this.showChangePrice = true;
        setTimeout(()=> {this.showChangePrice = false}, 5000);
      }
    },
    computed: {
      ...mapState({
        products: state => state.products,
        courseDollarRuble: state => state.courseDollarRuble,
        courseDollarRubleOld: state => state.courseDollarRubleOld,
      }),
      changePriceStatus: function () {
        if(this.courseDollarRuble - this.courseDollarRubleOld < 0){
          return 'good';
        }
        else{
          return 'bad'
        }
      }
    },
    data: function () {
      return {
        storeNames: this.$store.state.storeNames,
        editProduct: null,
        editProductKey: null,
        showChangePrice: false
      }
    },
    methods: {
      addToCart: function(productId, productKey, productPrice){
        this.$store.dispatch(
          'ADD_TO_BASKET',
          {
            productId: productId,
            productKey: productKey,
            productPrice: productPrice
          }
        );
      },
      changeProduct: function(product, key){
        this.editProduct = product;
        this.editProductKey = key;
      },
    }
  }
</script>

<style lang="scss" scoped>

  .group{
    margin-bottom: 20px;
    border: 1px solid rgba(#000000, .1);
    border-radius: 5px;
    overflow: hidden;
    &__name{
      padding: 5px 10px;
      background: rgba(green, .5);
    }
  }
  .product{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    & + & {
      border-top: 1px solid rgba(#000000, .1);
    }
    &__name{
      width: calc(100% - 100px);
      padding: 5px 10px;
    }
    &__price{
      width: 100px;
      padding: 5px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(#000000, .05);
      &.good{
        animation: changePriceGood 4s;
      }
      &.bad{
        animation: changePriceBad 4s;
      }
    }
    &__add-cart{
      color: blue;
      cursor: pointer;
    }
    &__edit{
      padding: 5px 0;
      &-item{
        display: block;
        margin-bottom: 7px;
        font-size: 12px;
        > span{
          display: block;
          margin-bottom: 3px;
        }
        input{
          width: 100%;
          padding: 5px;
          border-radius: 3px;
          border: 1px solid rgba(#000000, .2);
        }
      }
    }
  }
  @keyframes changePriceGood {
    from {
      background: rgba(green, .2);
    }
    to {
      background: rgba(0, 0, 0, .05)
    }
  }
  @keyframes changePriceBad {
    from {
      background: rgba(red, .2);
    }
    to {
      background: rgba(0, 0, 0, .05)
    }
  }
</style>