<template>
  <div id="app">
    <products/>
    <basket/>
  </div>
</template>

<script>
import products from './components/products.vue'
import basket from './components/basket.vue'
import {getProducts} from './api/products'

function randomInteger(min, max) {
  let rand = min - 0.5 + Math.random() * (max - min + 1);
  return Math.round(rand);
}


export default {
  name: 'app',
  components: {
    basket,
    products
  },
  data: function () {
    return {
      storeNames: this.$store.state.storeNames
    }
  },
  computed: {
  },
  mounted: function(){
    getProducts()
      .then(response => {
        this.$store.dispatch('SET_PRODUCTS', response);
      })
      .catch(exception => {
        return exception.response
      }
    );
    let newCourse = null;
    setInterval(()=>{
      newCourse = randomInteger(20, 80);
      this.$store.dispatch('CHANGE_COURSE', newCourse);
      getProducts()
        .then(response => {
          this.$store.dispatch('SET_PRODUCTS', response);
        })
        .catch(exception => {
            return exception.response
          }
        );
    }, 15000);
  },
}
</script>

<style lang="scss">
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#app {
  margin: 60px auto 0;
  width: 100%;
  max-width: 900px;
  padding: 0 10px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
